**Inner Merge**

The default merge method in pandas is called an inner merge.  Merges in pandas work by matching columns on the left to the columns on the right (The matched columns donâ€™t need to have the same name).

In [33]:
import pandas as pd

X = pd.DataFrame({'Category':['A','B'], 'Value':[1,2]})
Y = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X, right = Y, left_on = 'Category', right_on='Category', how='inner')

  Category  Value_x  Value_y
0        B        2        3

First, it identifies any shared values in the 'Category' columns we specified. In this case, it looks like both X and Y contain the Category B. The other two categories, A and C, are not shared.

Then, it populates the value column with the values associated with B (X dataframe: B is 2, Y dataframe: B is 3)

**Inner Merge: Multiple Matches**

In some cases, there might be multiple rows with the same category.

In [34]:
X2 = pd.DataFrame({'Category':['A','B','B'], 'Value':[1,2,5]})
Y2 = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X2, right = Y2, left_on = 'Category', right_on='Category', how='inner')

  Category  Value_x  Value_y
0        B        2        3
1        B        5        3

In the inner merge above, both of the 'B' values (2 and 5) from X2 are matched with the corresponding 'B' value (3) from Y2

**Left Merges**

Inner merges are the most common type of merge, but they can cause problems because they only maintain rows where the merge columns match exactly.

In [35]:
X = pd.DataFrame({'Category':['A','B'], 'Value':[1,2]})
Y = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X, right = Y, left_on = 'Category', right_on='Category', how='left')

  Category  Value_x  Value_y
0        A        1      NaN
1        B        2      3.0

In the left merge above, since there is no matching Category of A in the right DataFrame, the value gets filled with NaN to indicate the missing value. The next row has a Category of B. There is a match in the right DataFrame, so we fill in that matching value. Because NaN is not an integer value, pandas will convert any columns with NaNs from the merge as floats. This is why the 3 is displayed as 3.0.  Finally, there is no Category of C in our left table, so that Category and its Value are left out entirely.

**Left Merge: Multiple Matches**

In the case that there are multiple rows with the same category:

In [36]:
X2 = pd.DataFrame({'Category':['A','B','B'], 'Value':[1,2,5]})
Y2 = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X2, right = Y2, left_on = 'Category', right_on='Category', how='left')

  Category  Value_x  Value_y
0        A        1      NaN
1        B        2      3.0
2        B        5      3.0

Just like with the inner merge with multiple matches, there will be multiple rows created for the B Category, even though there is only one instance of Category B in the right table.

**Right Merge**

There is a way to do a right merge, that basically has the same syntax as left merge, but with how='right' instead.  I'm not going to use these personally because I would always rather just use a left merge.  If I wanted to do a right merge where X was my left DataFrame and Y was my right, I'd instead just make Y my left DataFrame and organize it that way

**Outer Merge**

An outer merge (sometimes called a full outer merge) maintains all the rows from both the left and right DataFrames, joining those that match:

In [37]:
import pandas as pd

X = pd.DataFrame({'Category':['A','B'], 'Value':[1,2]})
Y = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X, right = Y, left_on = 'Category', right_on='Category', how='outer')

  Category  Value_x  Value_y
0        A      1.0      NaN
1        B      2.0      3.0
2        C      NaN      4.0

**Outer Merge: Multiple Matches**

Once again, if there are multiple instances of a category, weâ€™ll get multiple rows in the merged table:

In [38]:
X2 = pd.DataFrame({'Category':['A','B','B'], 'Value':[1,2,5]})
Y2 = pd.DataFrame({'Category':['B','C'], 'Value':[3,4]})

pd.merge(left = X2, right = Y2, left_on = 'Category', right_on='Category', how='outer')

  Category  Value_x  Value_y
0        A      1.0      NaN
1        B      2.0      3.0
2        B      5.0      3.0
3        C      NaN      4.0

**Multiple Columns**

In all our examples so far, our tables have had specific columns designed for merging. But this isnâ€™t always the case. Take the below example.  We want to make sure that the dates match to the shootout dates so that we know we are getting information from the specific game that took place on that date:

In [39]:
games = pd.DataFrame({
    'date': ['2024-05-01', '2024-05-02', '2024-05-03'],
    'home_team': ['Team A', 'Team B', 'Team C'],
    'away_team': ['Team D', 'Team E', 'Team F'],
    'score': [2, 3, 1]
})

shootouts = pd.DataFrame({
    'shootout_date': ['2024-05-01', '2024-05-03'],
    'home_team': ['Team A', 'Team C'],
    'away_team': ['Team D', 'Team F'],
    'shootout_winner': ['Team A', 'Team F']
})

merged_df = pd.merge(
    left=games,
    right=shootouts,
    left_on=['date', 'home_team', 'away_team'],
    right_on=['shootout_date', 'home_team', 'away_team'],
    how='left'
)

print(merged_df)

         date home_team away_team  score shootout_date shootout_winner
0  2024-05-01    Team A    Team D      2    2024-05-01          Team A
1  2024-05-02    Team B    Team E      3           NaN             NaN
2  2024-05-03    Team C    Team F      1    2024-05-03          Team F